:root {
    --color1: #6d2e46;
    --color2: rgba(109, 46, 70, .75);
    --color3: #a26769;
    --color4: rgba(213, 185, 178, 1);
    --color5: #cebebe;
    --color6: #ece2d0;
    --color7: #fdfded;
    --color8: #dbcccc;
}

body {
    text-align: center;
    align-items: center;
    max-width: 750px;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color1);
    
}

#main {
    background-color: var(--color3);
    width: 100%;
    margin: auto;
    height: fit-content;
    padding-bottom: 50px;
    border-radius: 30px;
}

#title {
    margin-top: 50px;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;
}

#title, #quote, #date {
    color: var(--color6);
}

#date {
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 34px;
}

#habits-headers {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
}

.habit-header {
    width: 33%;
    font-weight: bold;
}

#habit-name-header {
    text-align: left;
}

#habit-progress-header {
    text-align: right;
}

#habit-page-selector-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    margin:auto;
    margin-bottom: 30px;
    color: white;
    background-color: var(--color5);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.page-selector-btn {
    background: none;
    color: black;
    font-weight: bold;
    width: 20%;
    border: none;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}


.habit {
    padding: 10px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 4px;
    margin-right: 4px;
    width: 450px;
    border-radius: 15px;
}

.habit-item {
    width: 33%;
    
}

.habit-name {
    text-align: left;
    
}

.habit-progress {
    text-align: right;
}

.selected-button {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;;
    text-underline-offset: 6px;
}

#new-habit {
    width: 400px;
    height: fit-content;
    padding: 40px;
    margin: auto;
    background-color: var(--color4);
    border-radius: 30px;
}

#add-habit-title {
    margin-top: -10px;
    font-size: 24px;
}

.field-name {
    margin-right: 8px;
    font-size: 18px;
}

.input-field {
    height: 25px;
    border: none;
    border-radius: 15px;
    background-color: var(--color7);
}

#interval-dropdown {
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: var(--color7);
}

#add-btn, #cancel-btn  {
    width: 60%;
    height: 40px;
    border: none;
    width: 49%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--color6);
}

#name-input {
    margin-bottom: 10px;
}

#frequency-input {
    width: 40px;
    margin-bottom: 20px;
}

#create-habit-btn, #clear-btn {
    width: 49%;
    height: 40px;
    border-radius: 15px;
    background-color: var(--color5); 
    border: none;
    font-weight: bold;
    font-size: 16px;
}

#create-habit-btn:hover, #clear-btn:hover, #search-btn:hover {
    background: var(--color8)
}

#create-habit-btn:active, #clear-btn:active, #search-btn:active {
    background: var(--color5)
}

#delete-img {
    width: 20px;
    margin-right: 5px;
}

#delete-btn {
    background: none;
    margin-top: 10px;
    border: none;
    color: red;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.edit-btn, .complete-btn{
    width: 55px;
    height: 55px;
    min-height: 55px;
    background-color: var(--color4);
}

.edit-btn {
    border: none;
    background-image: url("https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.complete-btn {
    border: none;
    background-image: url("https://cdn0.iconfinder.com/data/icons/harmonicons-02/64/check-box-512.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#search-btn {
    border: none;
    background-color: var(--color5);
    width: 12%;
    height: 43px;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 5px;
}

#search-bar {
    border: none;
    margin-bottom: 30px;
    width: 55%;
    height: 40px;
    margin-right: 5px;
    background-color: var(--color6);
    border-radius: 15px;
    font-size: 14px;
}

.single-habit-container {
    display: flex;
    margin: auto;
    max-width: 600px;
}

#quote {
    margin: auto;
    margin-bottom: 40px;
    max-width: 90%;
    text-align: center;
    height: fit-content;
    font-size: 20px;
}

#divider {
    border: 2px solid black;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}

#habits-section {
    background-color: var(--color4);
    width: 65%;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    border-radius: 20px;
}

#empty-msg {
    margin-bottom: 20px;
}

#bottom-btns {
    width: 70%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    font-weight: bold;
}

#daily-habit-btn {
    margin-right: -100px
}

#monthly-habit-btn {
    margin-left: -100px;
}

#confirmation-prompt {
    background-color: var(--color4);
    margin: auto;
    margin-top: 35vh;
    max-width: 300px;;
    height: fit-content;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    border-radius: 30px; 
    
}

#confirmation-prompt-background {
    background: var(--color2);
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#prompt {
    font-size: 20px;
}

#yes-btn, #no-btn {
    height: 40px;
    border: none;
    width: 48.5%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--color6);
}

#overall-progress-bar {
    background-color: var(--color6);
    border-radius: 20px;
    width: 70%;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#progress-bar-text {
    height: fit-content;
    width: fit-content;
    margin: auto;
    line-height: 2;
}

#progress-bar-title {
    color: var(--color6);
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: -5px;
}

#theme-dropdown {
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    height:  30px; 
    width: 120px;
    background-color: var(--color5);
    border: none;
}

#theme-label {
    color: var(--color6);
    background: none;
    border: none;
    margin-right: 5px;
}

#theme-btn:hover {
    color: var(--color7)
}

#theme-btn:active {
    color: var(--color5);
}

::placeholder {
    color: black;
}

#add-btn:hover, #cancel-btn:hover, #yes-btn:hover, #no-btn:hover {
    background-color: var(--color7);
}

#add-btn:active, #cancel-btn:active, #yes-btn:active, #no-btn:active {
    background-color: var(--color6);
}

#footer {
    color: var(--color6);
    margin-top: 40px;
    margin-bottom: 50px;
}

#created-by {
    margin-bottom: -10px;
}

#github-link, #github-link:active {
    color: var(--color4);
}

#github-link:hover {
    color: var(--color5);
}

